{% load static %}
<style>
    .material-icons {
        vertical-align: -6px;
    }
</style>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'core/logo.jpg' %}" alt="logo" width="55"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#payments"><span class="large material-icons">monetization_on</span>Купить проходку</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#payments"><span class="large material-icons">monetization_on</span>Купить проходку</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>