{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оплата</title>
    <link rel="shortcut icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
    <script src="//www.free-kassa.ru/widget/w.js"></script>
</head>
<body>
<script type="text/javascript">
const url = new URL(window.location.href);
const searchParams = new URLSearchParams(url.search);
const form = new FK();
form.loadWidget({
    merchant_id: searchParams.get('merchant_id'),
    amount: searchParams.get('amount'),
    order_id: searchParams.get('order_id'),
    // email: 'EMAIL',
    // phone: 'PHONE',
    sign: searchParams.get('sign'),
    // us_user: 1,
    us_desc: 'Test',
});
</script>
</body>
</html>