{% extends 'core/components/_base.html'%}
{% load static %}


{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">RUBICON</h1>
            <div class="row center">
                <h5 class="header col s12 light">Ванильный майнкрафт сервер на версии 1.16.3</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'core/background1.jpg' %}" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Надежный сервер</h5>

                    <p class="light">Обновленный сервер, на топовом железе, выдержит твою даже самую производительную ферму</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Дружеское комьюнити</h5>

                    <p class="light"><span class="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi, ducimus ipsam iure minus perferendis perspiciatis rerum saepe. Architecto commodi debitis ea, earum facilis itaque maiores provident. Maxime, nobis, sunt!</span></p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Слаженная команда админов и модераторов</h5>

                    <p class="light"><span class="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque esse harum quisquam, quos saepe sequi voluptas. Animi asperiores culpa molestiae, nam nemo nesciunt nulla omnis quos reiciendis ullam vel!</span></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper" id="payments">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Дешевая проходка</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'core/background2.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Покупка привелегий</h4>
                <form action="#">
                    {% csrf_token %}
                    <div class="input-field col s12">
                        {{ form.privilege }}
                    </div>
                    <a class="waves-effect waves-light btn submit-btn">Купить</a>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Игра в режиме выживания</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'core/background3.jpg' %}" alt="Unsplashed background img 3"></div>
</div>
<script>
    const submitBtn = document.querySelector(".submit-btn");
    let privilegeSelect = document.querySelector(".privilege");

    submitBtn.addEventListener("click", event => {
        if (privilegeSelect.value) alert("This section in developing...");
    });
</script>
{% endblock %}


