{% extends 'core/components/_base.html'%}
{% load static %}


{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">RUBICON</h1>
            <div class="row center">
                <h5 class="header col s12 light">Ванильный майнкрафт сервер на версии 1.16.3</h5>
            </div>
            <div class="row center">
                <h5 class="header col s12 light">Адрес сервера: rubicons.ru</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'core/background1.jpg' %}" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Надежный сервер</h5>

                    <p class="light">Обновленный сервер, на топовом железе, выдержит твою даже самую производительную ферму</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Дружеское комьюнити</h5>

                    <p class="light"><span class="100">На этом сервере вам не придется избегать контакта с другими игроками. Каждый, кто когда-то либо заходил на наш сервер, может с уверенностью сказать, что завести новые знакомства на нашем сервере проще простого. Играйте и развивайтесь вместе на рубиконе</span></p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Слаженная команда админов и модераторов</h5>

                    <p class="light"><span class="100">Теперь вы перестанете бояться обращаться за помощью! Если у вас произойдёт какая-то проблема во время игры, наши модераторы сразу помогут вам. Вы можете обратиться к ним в любое время и получить краткий и точный ответ</span></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper" id="payments">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Дешевая проходка</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'core/background2.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Покупка привелегий</h4>
                <form action="#">
                    {% csrf_token %}
                    <div class="input-field col s12">
                        {{ form.privilege }}
                    </div>
                    <a class="waves-effect waves-light btn submit-btn">Купить</a>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Игра в режиме выживания</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'core/background3.jpg' %}" alt="Unsplashed background img 3"></div>
</div>
<script>
class Request {
    static async send(params) {
        const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;

        let responseData = await fetch('/payments/get_payment_url/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                ...params
            })
        });
        return responseData.json()
    }
}
document.addEventListener('DOMContentLoaded', function() {
    const modals = document.querySelectorAll('.modal');
    const submitBtn = document.querySelector(".submit-btn");
    const instances = M.Modal.init(modals);
    instances.forEach(elem => {
        if (elem.id === 'modal1') {
            submitBtn.addEventListener("click", event => {
                const privilegeSelect = document.querySelector(".privilege");
                if (!privilegeSelect.value) return;
                elem.open();
            });
            const buyBtn = document.querySelector(".buy-btn");
            const privilegeSelect = document.querySelector(".privilege");
            buyBtn.addEventListener("click", event => {
                const nicknameInput = document.querySelector('[name="nickname"]');
                if (!nicknameInput.value) return M.toast({html: 'Введите Ваш никнейм!'})
                const params = {
                    'privilege_id': privilegeSelect.value,
                    'nickname': nicknameInput.value
                };
                Request.send(params).then((data) => {
                    elem.close();
                    const form = new FK();
                    form.loadWidget({
                        merchant_id: data['merchant_id'],
                        amount: data['amount'],
                        order_id: data['order_id'],
                        // email: 'EMAIL',
                        // phone: 'PHONE',
                        sign: data['sign'],
                        // us_user: 1,
                        us_desc: 'Test',
                    });
                }).catch(error => {
                    M.toast({html: error})
                })
            });
        }
    });
});
</script>
{% endblock %}


